html {
  height: 100%;
}

body {
  height: 100%;
}

#mytrack {
  display: none;
}
#jukebox-wrapper {
  position: relative;
  width: 691px;
  height: 1014px;
  margin: 0 auto;
}

#jukebox-back {
  position: absolute;
  z-index: 1;
  left: 115px;
  top: 65px;
}

#jukebox {
  position: absolute;
  z-index: 3;
}

#jukebox-buttons {
  position: absolute;
  z-index: 4;
  left: 210px;
  top: 285px;
}
#jukebox-buttons button {
  border-radius: 5px;
  margin-right: 3px;
  border: none;
  outline: none;
}
#jukebox-buttons button:active {
  position: relative;
  top: 1px;
}

#jukebox-play {
  background-color: #fdefd5;
  border: none;
  width: 48px;
  height: 33px;
  background-image: url(img/play.png);
  background-position: center;
}
#jukebox-pause {
  background-color: #fdefd5;
  border: none;
  width: 48px;
  height: 33px;
  background-image: url(img/pause.png);
  background-position: center;
}
#jukebox-prev {
  background-color: #fdefd5;
  border: none;
  width: 48px;
  height: 33px;
  background-image: url(img/prev-track.png);
  background-position: center;
}
#jukebox-next {
  background-color: #fdefd5;
  border: none;
  width: 48px;
  height: 33px;
  background-image: url(img/next-track.png);
  background-position: center;
}
#jukebox-stop {
  background-color: #fdefd5;
  border: none;
  width: 48px;
  height: 33px;
  background-image: url(img/stop.png);
  background-position: center;
}

#mytrack {
}

#light-buttons {
  position: absolute;
  z-index: 4;
  top: 317px;
  left: 75px;
}
#light-buttons img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#light-buttons ul {
  list-style: none;
}
#light-buttons li {
  margin-bottom: 21px;
}
#vinyl {
  position: absolute;
  z-index: 2;
  top: 125px;
  left: 201px;
  -webkit-animation-timing-function: cubic-bezier(0.10,.0,.95, 1.0);
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;

}

