@font-face {
  font-family: Lato-Light;  
  src: url(fonts/Lato-Light.ttf);  
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #FFFFF0;
}

#mytrack {
  display: none;
}
#jukebox-wrapper {
  position: relative;
  width: 691px;
  height: 1014px;
  margin: 0 auto;
}

#jukebox-back {
  position: absolute;
  z-index: 1;
  left: 115px;
  top: 65px;
}

#jukebox {
  position: absolute;
  z-index: 3;
}

#jukebox-buttons {
  position: absolute;
  z-index: 4;
  left: 210px;
  top: 285px;
}
#jukebox-buttons button {
  border-radius: 5px;
  margin-right: 3px;
  border: none;
  outline: none;
}
#jukebox-buttons button:active {
  position: relative;
  top: 1px;
}

#jukebox-play {
  background-color: #fdefd5;
  border: none;
  width: 48px;
  height: 33px;
  background-image: url(img/play.png);
  background-position: center;
}
#jukebox-pause {
  background-color: #fdefd5;
  border: none;
  width: 48px;
  height: 33px;
  background-image: url(img/pause.png);
  background-position: center;
}
#jukebox-prev {
  background-color: #fdefd5;
  border: none;
  width: 48px;
  height: 33px;
  background-image: url(img/prev-track.png);
  background-position: center;
}
#jukebox-next {
  background-color: #fdefd5;
  border: none;
  width: 48px;
  height: 33px;
  background-image: url(img/next-track.png);
  background-position: center;
}
#jukebox-stop {
  background-color: #fdefd5;
  border: none;
  width: 48px;
  height: 33px;
  background-image: url(img/stop.png);
  background-position: center;
}

#mytrack {
}

#light-buttons {
  position: absolute;
  z-index: 4;
  top: 317px;
  left: 75px;
}
#light-buttons img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#light-buttons ul {
  list-style: none;
}
#light-buttons li {
  margin-bottom: 21px;
}

#lb0 {
  position: absolute;
  top: 17px;
}
#lb1 {
  position: absolute;
  top: 86px;
}
#lb2 {
  position: absolute;
  top: 153px;
}
#lb3 {
  position: absolute;
  top: 220px;
}
#lb4 {
  position: absolute;
  top: 289px;
}
#lb5 {
  position: absolute;
  top: 358px;
}
#playlist {
  top: -1px;
  position: absolute;
  left: 113px;
  display: inline-block;
}
#playlist p {
  position: relative;
  font: 35px/1.3 Lato-Light;
  color: #2A2626;
}
#tr0 {
  top: -20px;
}
#tr1 {
  top: -30px;
}
#tr2 {
  top: -43px;
}
#tr3 {
  top: -56px;
}
#tr4 {
  top: -68px;
}
#tr5 {
  top: -81px;
}

#vinyl-wrapper {
  position: absolute;
  top: 125px;
  left: 201px;
  z-index: 2;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
}

.nowrap {
  white-space: nowrap ;
}
#light-buttons img {
  cursor: pointer;
}

#jb-mobile-wrapper {
  display: none;
  position: relative;
  margin: 0 auto;
  width: 866px;
  height: 1096px;
}
#jb-mobile {
  z-index: 2;
  position: absolute;
}
#mobile-btn {
  position: absolute;
  width: 50px;
  height: 111px;
  left: 207px;
  top: 418px;
  z-index: 3;
}
#mobile-btn img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 23px;
}
#m-btn-1 {
  padding-bottom: 2px;
}
#jb-mobile-playlist {
  z-index: 3;
  position: absolute;
  display: inline-block;
  top: 410px;
  left: 270px;
}
#jb-mobile-playlist p {
  position: relative;
  font: 36px/1 Lato-Light;
  color: #2A2626;
}

#vinyl {
  display: block;
  position: relative;
  z-index: 2;
  -webkit-animation-timing-function: cubic-bezier(0.10,.0,.95, 1.0);
  -moz-animation-timing-function: cubic-bezier(0.10,.0,.95, 1.0);
  -o-animation-timing-function: cubic-bezier(0.10,.0,.95, 1.0);
    animation-timing-function: cubic-bezier(0.10,.0,.95, 1.0);
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

}

@media only screen and (max-width: 960px) {
  #jukebox-wrapper {
    display: none;
  }
  #jb-mobile-wrapper {
    padding-top: 100px;
    display: inline-block;
  }
}