html {
  height: 100%;
}

body {
  height: 100%;
}

#jukebox-wrapper {
  position: relative;
  width: 691px;
  height: 1014px;
  margin: 0 auto;
}

#jukebox-back {
  position: absolute;
  z-index: 1;
  left: 115px;
  top: 65px;
}

#jukebox {
  position: absolute;
  z-index: 3;
}

#jukebox-buttons {
  position: absolute;
  z-index: 4;
  left: 210px;
  top: 285px;
}
#jukebox-buttons button {
  border-radius: 5px;
  margin-right: 3px;
  border: none;
  outline: none;
}
#jukebox-buttons button:active {
  position: relative;
  top: 1px;
}

#jukebox-play {
  background-color: #fdefd5;
  border: none;
  width: 48px;
  height: 33px;
  background-image: url(img/play.png);
  background-position: center;
}
#jukebox-pause {
  background-color: #fdefd5;
  border: none;
  width: 48px;
  height: 33px;
  background-image: url(img/pause.png);
  background-position: center;
}
#jukebox-prev {
  background-color: #fdefd5;
  border: none;
  width: 48px;
  height: 33px;
  background-image: url(img/prev-track.png);
  background-position: center;
}
#jukebox-next {
  background-color: #fdefd5;
  border: none;
  width: 48px;
  height: 33px;
  background-image: url(img/next-track.png);
  background-position: center;
}
#jukebox-stop {
  background-color: #fdefd5;
  border: none;
  width: 48px;
  height: 33px;
  background-image: url(img/stop.png);
  background-position: center;
}

#mytrack {
}

#light-buttons {
  position: absolute;
  z-index: 4;
  top: 317px;
  left: 75px;
}
#light-buttons img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#light-buttons ul {
  list-style: none;
}
#light-buttons li {
  margin-bottom: 21px;
}
#vinyl {
  position: absolute;
  z-index: 2;
  top: 125px;
  left: 201px;
  -webkit-transition: -webkit-transform 2s ease-out;
}

.spinning {
  -webkit-animation-name: spin-right;
  -webkit-animation-duration: 2000ms;
  -webkit-animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
}
.spinning-ease-in {
  animation: spin-right 4000ms ease-in 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
}
.spinning-ease-out {
  animation: spin-right 4000ms ease-out 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
}


@keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}